# Laravel specific
vendor/
bootstrap/compiled.php
app/storage/
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

# Storage files
storage/*.key

# Environment and configuration files
.env
Homestead.yaml
Homestead.json

# Development and testing files
/.vagrant
.phpunit.result.cache
.phpunit.cache
/public/build

# Logs
*.log

# Config Files
config/

# Cache Files
cache/
bootstrap/cache

# IDE and other project-specific files
/.fleet
/.idea
/.vscode